.modal-header{
	background-color: #262626;
	color: #f7f7f7;
}

#div_tablaIconos{
	
}

#div_tablaIconos table {
    float: none;
    margin: 0 auto;
	border-spacing: 10px;
    border-collapse: separate;
}

#div_tablaIconos td {
	text-align: center;
}

td .glyphicon {
	font-size: 50px;
}

tr:last-child td:last-child{
	padding-top: 10%;
	text-align: center;
}