#div_pwd{
	border: 1px solid #cecece;
	border-radius: 5px;
	padding-bottom: 3%;
	padding-top: 3%;
	margin-bottom:3%;
}

#div_pwd input{
	width: 40px;
	line-height: 2em;
	border: 1px solid #cecece;
	border-radius: 5px;
	background-color: #ececec;
	font-weight:bold;
	font-size: 15px;
	background-repeat: no-repeat;
	background-position: center; 
}

#div_teclado{
	position: relative;
	top: 0px;
}

.mover_teclado1{
	position: relative;
	top: -25px;
}

.mover_teclado2{
	position: relative;
	bottom: -25px;
}

.mover_teclado3{
	position: relative;
	right: -25px;
}

.mover_teclado4{
	position: relative;
	left: -25px;
}


#div_teclado{
	margin-top: 20px;
	padding-top: 5%;
	padding-bottom: 20px;
	width: 40%;
	margin: 0 auto;
}

#div_teclado button{
	width: 50px;
}

#login_div{
	margin-bottom: 50px;
}