
h3 {
	margin-bottom: 20px;
}

#leyenda span{
	padding-left: 18px;
	border-radius: 18px;
}

#leyenda {
	margin-top: 20px;
	color: #4f4f4f;
}

th, td{
	text-align: center;
}

td:nth-child(3) {
   text-align: left;
}

td:last-child{
    font-weight: bold;
}

td select {
	float: right;
	width: 60px !important;
}

td select option {
	padding-top: 40x;
	padding-bottom: 4x;
}